# The purpose of this rules file is to ensure that the top left usb port and its partitions have a symlink to /dev/source_key[num], and the other ports to /dev/dest_key[num]
KERNEL=="sd*", KERNELS=="1-1.[1-2]", SUBSYSTEMS=="usb", SYMLINK+="source_key%n"  RUN+="/usr/local/bin/led.sh badusb connected"
ACTION=="remove", KERNELS=="1-1.[1-2]", SUBSYSTEMS=="usb" RUN+="/usr/local/bin/led.sh badusb disconnected"
KERNEL=="sd*", KERNELS=="1-1.[3-5]", SUBSYSTEMS=="usb", SYMLINK+="dest_key%n" RUN+="/usr/local/bin/led.sh goodusb connected"
ACTION=="remove", KERNELS=="1-1.[3-5]", SUBSYSTEMS=="usb" RUN+="/usr/local/bin/led.sh goodusb disconnected"
